body {
    background-color: #F4BB44;
    text-align: center;
    align-items: center;
    font-size: 18px;
    font-family: monospace;
}

.intro {
    font-style: italic;
    background-color: #ffffff;
}

h3 {
    margin-bottom: 0;
}

p {
    max-width: 500px;
    margin: auto;
    margin-top: 0;
    padding: auto;
}

